/** Not allowed to change this initial CSS code **/
body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}
/*************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 0.9rem;
}
html,
body {
  border: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  height: 200px;
  gap: 2.25%;
}

/* Header */
.flex-container {
  display: flex;
  height: 100px;
  background: #f5f5dd;
  margin: 3% 6%;
  padding: 10px;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
}

button {
  padding: 0 0.7rem;
}

.button-4 {
  margin-left: auto;
}

/* Box Section */

.grid-container {
  display: grid;
  border: none;
  margin: 6%;
  grid-template-columns: repeat(12, 1fr);
}

.box-1 {
  grid-column: 1 / span 2;
}
.box-2 {
  grid-column: 3 / span 8;
}
.box-3 {
  grid-column: 11 / span 2;
}

/* Box Section 2. way*/

/* .grid-container {
  display: grid;
  border: none;
  margin: 6%;
  grid-template-columns: 2fr 9fr 2fr;
} */
